body{
    background-color: antiquewhite;
}

.container2{
    background-image: linear-gradient(135deg,#3b1924 35%, 50%,#751c37);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 130px;
 }
 
 .titulo{
    font-family: font2;
    text-align: center;
    color: #fcf3f5;
    font-size: 20px;
    margin: 50px;
    text-shadow: 2px 2px 5px white  
 }
 
 .texto{
    font-family: font;
    font-size: 38px;
    color: #ebb1b7;
    margin-bottom: 50px;
    margin-left: 70px;
    margin-right: 60px;
    text-align: left;
    align-self: center;
 }
 
input{
    margin-left: 150px;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    border: none;
    background-color: #fcf3f5;
    border: solid 2px;
    border-color:#e2a5ae;
}
 
.container2 a{
    font-family: font1;
    color: #F9F8F8;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-left: 60px;
    text-shadow: 2px 2px 5px white
}
 
.titulo2{
    color: #751c37;
    font-family: font1;
    font-size: 40px;
    margin-left: 600px;
}

.linha{
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin-left: 550px;
    margin-bottom: 40px;
    margin-top: 0px;
}


table{
    width: 100%;
}

td,th{
    border: 2px solid #751c37;
    text-align: left;
    padding: 8px;
    font-size: 20px;
    font-family: font1;
    color:#ac3647;
    background-color: #f7f2f3;
}

.quadro{
    background-color: #380b12;
    box-shadow: 3px 3px 8px #681320;
   
}

.texto{
    font-family: font2;
}

.titulo3{
    color: #751c37;
    font-family: font1;
    font-size: 40px;
    margin-left: 500px;
}

.titulo2{
    color: #751c37;
    font-family: font1;
    font-size: 40px;
    margin-left: 600px;
}

.texto2{
    font-family: font2;
    color: #e2a5ae;
    font-size: 30px;
    margin: 50px;
}
